openapi: 3.0.1
info:
  contact:
    email: info@gemini-commerce.com
    name: Gemini Team
  description: "\nThe Product Configurator Service is a versatile platform designed\
    \ to manage dynamic product configurations. \nIt enables the creation, updating,\
    \ and management of product configurations through steps, options, and dependencies,\
    \ \nensuring granular control over customization.\n\n## Core Components\n1. **Configurators**\n\
    \   - Create and manage configurators linked to products.\n   - Support for configurator\
    \ states (`ACTIVE`, `DRAFT`, etc.) and versioning.\n\n2. **Steps**\n   - Define\
    \ logical sequences to guide users through the configuration process.\n   - Include\
    \ localized labels, descriptions, and selection rules.\n\n3. **Options**\n   -\
    \ Add and manage options available for each step.\n   - Support for visual content\
    \ (`Swatch`) and configurable quantities.\n\n4. **Dependencies**\n   - Create\
    \ rules between options and steps to control dynamic interactions.\n   - Manage\
    \ complex conditions across configurations.\n\n5. **Matrices**\n   - Use matrices\
    \ to handle prices, weights, and other properties.\n   - Support for dynamic customization\
    \ based on user selections.\n\n6. **Properties**\n   - Add custom attributes and\
    \ properties to configurators.\n\n7. **Configuration Management**\n   - Retrieve\
    \ available or user-specific configurations.\n   - Create optimized configurations\
    \ to enhance the user experience.\n\n## Key Features\n- **Security**: Authenticate\
    \ every request with JWT, ensuring safety and reliability.\n- **Flexibility**:\
    \ Bulk operations (create, update, delete) for steps, options, and dependencies.\n\
    - **Scalability**: Suitable for large volumes of configurations and complex personalization\
    \ scenarios.\n- **Backward Compatibility**: Version management to minimize the\
    \ impact of changes on existing clients.\n"
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  title: Product Configurator Service
  version: v1
servers:
- url: https://product-configurator.api.gogemini.io/
tags:
- externalDocs:
    url: https://gemini-commerce.com/api/product-configurator
  name: ProductConfigurator
paths:
  /v1/{tenantId}/configurator/{configuratorId}:
    delete:
      description: Delete a product configurator by specifying the tenant and configurator
        IDs. Ensure precise removal of unwanted configurations with a straightforward
        DELETE request.
      operationId: ProductConfigurator_DeleteConfigurator
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: configuratorId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratorconfiguratorDeleteResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Delete Configurator
      tags:
      - configurator
    get:
      operationId: ProductConfigurator_GetConfiguratorById
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: configuratorId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratorconfiguratorEntity'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      tags:
      - ProductConfigurator
    put:
      description: Modify an existing product configurator by specifying the tenant
        and configurator IDs. Use a PUT request with the updated configuration details
        in the body to seamlessly update and manage product configurations
      operationId: ProductConfigurator_UpdateConfigurator
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: configuratorId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_UpdateConfigurator_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratorconfiguratorEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Update Configurator
      tags:
      - configurator
      x-codegen-request-body-name: body
  /v1/{tenantId}/configurator/{configuratorId}/page-size/{pageSize}/matrices:
    post:
      description: Retrieve a list of matrices for a specific configurator based on
        tenant and configurator IDs. Customize results by specifying page size for
        efficient pagination. Submit an empty body to get all matrices associated
        with the configurator. Streamline matrix management effortlessly.
      operationId: ProductConfigurator_ListMatrices
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: configuratorId
        required: true
        schema:
          type: string
      - in: path
        name: pageSize
        required: true
        schema:
          format: uint64
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_ListMatrices_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/matrixListMatricesResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: List Matrices
      tags:
      - matrix
      x-codegen-request-body-name: body
  /v1/{tenantId}/configurator/{configuratorId}/page-size/{pageSize}/properties:
    post:
      operationId: ProductConfigurator_ListPropertiesByConfiguration
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: configuratorId
        required: true
        schema:
          type: string
      - in: path
        name: pageSize
        required: true
        schema:
          format: uint64
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_ListPropertiesByConfiguration_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/propertyListPropertiesByConfigurationResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      tags:
      - ProductConfigurator
      x-codegen-request-body-name: body
  /v1/{tenantId}/configurator/{configuratorId}/step/create:
    post:
      description: Add a new step to an existing product configurator by specifying
        the tenant and configurator IDs. Utilize a POST request with the required
        step details in the body to seamlessly extend the configuration process.
      operationId: ProductConfigurator_CreateStep
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: configuratorId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_CreateStep_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratorstepEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Create Step
      tags:
      - step
      x-codegen-request-body-name: body
  /v1/{tenantId}/configurator/{configuratorId}/step/create/bulk:
    post:
      description: Add multiple steps to an existing product configurator simultaneously.
        Submit a POST request with the necessary step details in the body to efficiently
        extend the configuration process in bulk. Simplify large-scale configuration
        management effortlessly.
      operationId: ProductConfigurator_BulkCreateSteps
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: configuratorId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_BulkCreateSteps_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratorstepBulkCreateResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Bulk Create Steps
      tags:
      - step
      x-codegen-request-body-name: body
  /v1/{tenantId}/dependency/{dependencyId}:
    delete:
      description: "Remove a specific dependency by specifying the tenant and dependency\
        \ IDs. Ensure precision in dependency management with a straightforward DELETE\
        \ request, simplifying the elimination of unwanted configuration logic."
      operationId: ProductConfigurator_DeleteDependency
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: dependencyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratordependencyDeleteResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Delete Dependency
      tags:
      - dependency
    put:
      description: Modify an existing dependency by specifying the tenant and dependency
        IDs. Utilize a PUT request with updated dependency details in the body for
        seamless customization and fine-tuning of your product configurations.
      operationId: ProductConfigurator_UpdateDependency
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: dependencyId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_UpdateDependency_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratordependencyEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Update Dependency
      tags:
      - dependency
      x-codegen-request-body-name: body
  /v1/{tenantId}/matrix/create:
    post:
      description: Establish a new matrix by specifying the tenant ID. Utilize a POST
        request with the required matrix details in the body for seamless customization
        and expansion of matrix configurations.
      operationId: ProductConfigurator_CreateMatrix
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_CreateMatrix_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratormatrixEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Create Matrix
      tags:
      - matrix
      x-codegen-request-body-name: body
  /v1/{tenantId}/matrix/{matrixId}:
    delete:
      description: "Remove a specific matrix by specifying the tenant and matrix IDs.\
        \ Ensure precision in matrix management with a straightforward DELETE request,\
        \ simplifying the elimination of unwanted matrix configurations."
      operationId: ProductConfigurator_DeleteMatrix
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: matrixId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratormatrixDeleteResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Delete Matrix
      tags:
      - matrix
    get:
      description: Retrieve matrix details by specifying the tenant and matrix IDs.
        Utilize a GET request for a comprehensive view of matrix configurations within
        your product configurator service.
      operationId: ProductConfigurator_GetMatrix
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: matrixId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratormatrixEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Get Matrix
      tags:
      - matrix
    put:
      description: Modify an existing matrix by specifying the tenant and matrix IDs.
        Utilize a PUT request with updated matrix details in the body for seamless
        customization and fine-tuning of your product configurations. Keep your matrices
        in sync effortlessly.
      operationId: ProductConfigurator_UpdateMatrix
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: matrixId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_UpdateMatrix_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratormatrixEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Update Matrix
      tags:
      - matrix
      x-codegen-request-body-name: body
  /v1/{tenantId}/matrix/{matrixId}/page-size/{pageSize}/properties:
    post:
      description: Retrieve a list of properties for a specific matrix based on tenant
        and matrix IDs. Customize results by specifying page size for efficient pagination.
        Submit an empty body to get all properties associated with the matrix.
      operationId: ProductConfigurator_ListProperties
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: matrixId
        required: true
        schema:
          type: string
      - in: path
        name: pageSize
        required: true
        schema:
          format: uint64
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_ListProperties_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/propertyListPropertiesResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: List Properties
      tags:
      - property
      x-codegen-request-body-name: body
  /v1/{tenantId}/matrix/{matrixId}/pricelist/{pricelistGrn}:
    delete:
      description: "Remove a specific pricelist from a matrix by specifying the tenant,\
        \ matrix, and pricelist IDs. Use a DELETE request for precise management of\
        \ pricelist configurations within your product configurator service."
      operationId: ProductConfigurator_RemovePricelistFromMatrix
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: matrixId
        required: true
        schema:
          type: string
      - in: path
        name: pricelistGrn
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratormatrixEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Remove Pricelist from Matrix
      tags:
      - matrix
  /v1/{tenantId}/option/bulk:
    put:
      description: Effortlessly update multiple options. Specify the tenant ID and
        submit a PUT request with the updated option details in the body. Streamline
        the customization of a multitude of options in one go.
      operationId: ProductConfigurator_BulkUpdateOptions
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_BulkUpdateOptions_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratoroptionBulkUpdateResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Bulk Update Options
      tags:
      - option
      x-codegen-request-body-name: body
  /v1/{tenantId}/option/delete/bulk:
    post:
      description: Efficiently remove multiple options from configurations using a
        bulk delete operation. Specify the tenant ID and submit a POST request with
        the list of option IDs in the body for streamlined option management.
      operationId: ProductConfigurator_BulkDeleteOptions
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_BulkDeleteOptions_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratoroptionBulkDeleteResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Bulk Delete Options
      tags:
      - option
      x-codegen-request-body-name: body
  /v1/{tenantId}/option/{optionId}:
    delete:
      description: "Remove a specific option by specifying the tenant and option IDs.\
        \ Ensure precision in option management with a straightforward DELETE request,\
        \ simplifying the elimination of unwanted configuration choices."
      operationId: ProductConfigurator_DeleteOption
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: optionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratoroptionDeleteResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Delete Option
      tags:
      - option
    put:
      description: Modify an existing option by specifying the tenant and option IDs.
        Utilize a PUT request with updated option details in the body for seamless
        customization and fine-tuning of your product configurations.
      operationId: ProductConfigurator_UpdateOption
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: optionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_UpdateOption_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratoroptionEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Update Option
      tags:
      - option
      x-codegen-request-body-name: body
  /v1/{tenantId}/option/{sourceOptionId}/copy:
    post:
      description: "Duplicate an existing option from the source to a specified tenant.\
        \ Utilize a POST request with an empty body to initiate the copy process,\
        \ creating a new option based on the source configuration. Streamline option\
        \ replication effortlessly."
      operationId: ProductConfigurator_CopyOption
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: sourceOptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_CopyOption_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratoroptionEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Copy Option
      tags:
      - option
      x-codegen-request-body-name: body
  /v1/{tenantId}/page-size/{pageSize}/dependencies:
    post:
      description: Retrieve a list of dependencies based on the specified tenant ID.
        Customize results by specifying page size for efficient pagination. Submit
        an empty body to get all dependencies associated with the configurations.
      operationId: ProductConfigurator_ListDependencies
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: pageSize
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_ListDependencies_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dependencyListDependenciesResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: List Dependencies
      tags:
      - dependency
      x-codegen-request-body-name: body
  /v1/{tenantId}/product/{productId}:
    get:
      description: "Retrieve product configurations with status details, filtered\
        \ by product and tenant IDs. Flexible options for specifying additional status\
        \ parameters."
      operationId: ProductConfigurator_GetConfiguratorByProductId
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: productId
        required: true
        schema:
          type: string
      - in: query
        name: status
        schema:
          default: UNKNOWN
          enum:
          - UNKNOWN
          - ACTIVE
          - DRAFT
          - DISABLED
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratorconfiguratorEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Get Configurator by Product ID
      tags:
      - configurator
  /v1/{tenantId}/product/{productId}/configuration:
    get:
      description: Retrieve available configurations for a specific product and tenant.
        Use a GET request for read-only access or submit additional criteria in the
        body of a POST request for tailored configuration results. Streamline the
        retrieval of configurations effortlessly.
      operationId: ProductConfigurator_GetAvailableConfiguration
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: productId
        required: true
        schema:
          type: string
      - description: "If not set, the service returns the active configurator"
        in: query
        name: configuratorId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configurationGetAvailableConfigurationResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Get Available Configuration
      tags:
      - configuration
    post:
      description: Retrieve available configurations for a specific product and tenant.
        Use a GET request for read-only access or submit additional criteria in the
        body of a POST request for tailored configuration results. Streamline the
        retrieval of configurations effortlessly.
      operationId: ProductConfigurator_GetAvailableConfiguration2
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: productId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_GetAvailableConfiguration2_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configurationGetAvailableConfigurationResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Get Available Configuration
      tags:
      - configuration
      x-codegen-request-body-name: body
  /v1/{tenantId}/product/{productId}/configuration-from-selections:
    post:
      description: Retrieve a configuration based on user selections for a specific
        product and tenant. Submit a POST request with user selections in the body
        to receive a tailored configuration. Enhance the user experience by dynamically
        generating configurations based on user input.
      operationId: ProductConfigurator_GetConfigurationFromSelections
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: productId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_GetConfigurationFromSelections_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configurationGetConfigurationFromSelectionsResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Get Configuration from Selections
      tags:
      - configuration
      x-codegen-request-body-name: body
  /v1/{tenantId}/product/{productId}/create:
    post:
      description: Create a new product configurator for a specified tenant and product.
        Submit the desired configuration details in the request body to initiate the
        creation process.
      operationId: ProductConfigurator_CreateConfigurator
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: productId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_CreateConfigurator_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratorconfiguratorEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Create Configurator
      tags:
      - configurator
      x-codegen-request-body-name: body
  /v1/{tenantId}/product/{productId}/page-size/{pageSize}/configurators:
    post:
      description: List all product configurators.
      operationId: ProductConfigurator_ListConfigurators
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: productId
        required: true
        schema:
          type: string
      - in: path
        name: pageSize
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_ListProperties_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configuratorListResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: List Product Configurators
      tags:
      - configurator
      x-codegen-request-body-name: body
  /v1/{tenantId}/product/{productId}/status/{status}:
    get:
      description: "Retrieve product configurations with status details, filtered\
        \ by product and tenant IDs. Flexible options for specifying additional status\
        \ parameters."
      operationId: ProductConfigurator_GetConfiguratorByProductId2
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: productId
        required: true
        schema:
          type: string
      - in: path
        name: status
        required: true
        schema:
          enum:
          - UNKNOWN
          - ACTIVE
          - DRAFT
          - DISABLED
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratorconfiguratorEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Get Configurator by Product ID
      tags:
      - configurator
  /v1/{tenantId}/product/{sourceConfiguratorId}/copy:
    post:
      description: "Duplicate an existing product configurator from the source to\
        \ the specified tenant and product. Submit an empty body to initiate the copy\
        \ process, creating a new configuration based on the source."
      operationId: ProductConfigurator_CopyConfigurator
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: sourceConfiguratorId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_CopyConfigurator_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratorconfiguratorEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Copy Configurator
      tags:
      - configurator
      x-codegen-request-body-name: body
  /v1/{tenantId}/properties/bulk:
    put:
      description: Effortlessly update multiple properties. Specify the tenant ID
        and submit a PUT request with the updated property details in the body. Streamline
        the customization of a multitude of properties in one go.
      operationId: ProductConfigurator_BulkUpdateProperties
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_BulkUpdateProperties_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratorpropertyBulkUpdateResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Bulk Update Properties
      tags:
      - property
      x-codegen-request-body-name: body
  /v1/{tenantId}/property/create:
    post:
      description: Integrate a new property into configurations by specifying the
        tenant ID. Use a POST request with the required property details in the body
        for seamless customization and expansion of product configurations.
      operationId: ProductConfigurator_CreateProperty
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_CreateProperty_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratorpropertyEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Create Property
      tags:
      - property
      x-codegen-request-body-name: body
  /v1/{tenantId}/property/create/bulk:
    post:
      description: Efficiently add multiple properties to configurations with a bulk
        create operation. Specify the tenant ID and submit a POST request with the
        necessary property details in the body for streamlined property management.
      operationId: ProductConfigurator_BulkCreateProperties
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_BulkCreateProperties_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratorpropertyBulkCreateResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Bulk Create Properties
      tags:
      - property
      x-codegen-request-body-name: body
  /v1/{tenantId}/property/{propertyId}:
    get:
      operationId: ProductConfigurator_GetProperty
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: propertyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratorpropertyEntity'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      tags:
      - ProductConfigurator
    put:
      description: Modify an existing property by specifying the tenant and property
        IDs. Utilize a PUT request with updated property details in the body for seamless
        customization and fine-tuning of your product configurations.
      operationId: ProductConfigurator_UpdateProperty
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: propertyId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_UpdateProperty_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratorpropertyEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Update Property
      tags:
      - property
      x-codegen-request-body-name: body
  /v1/{tenantId}/step/delete/bulk:
    post:
      description: Efficiently remove multiple steps from a product configurator using
        a bulk delete operation. Specify the tenant ID and submit a POST request with
        the list of step IDs in the body for streamlined configuration management.
      operationId: ProductConfigurator_BulkDeleteSteps
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_BulkDeleteSteps_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratorstepBulkDeleteResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Bulk Delete Steps
      tags:
      - step
      x-codegen-request-body-name: body
  /v1/{tenantId}/step/{sourceStepId}/copy:
    post:
      description: "Duplicate an existing step from the source to a specified tenant.\
        \ Utilize a POST request with an empty body to initiate the copy process,\
        \ creating a new step based on the source configuration. Streamline step replication\
        \ effortlessly."
      operationId: ProductConfigurator_CopyStep
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: sourceStepId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_CopyStep_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratorstepEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Copy Step
      tags:
      - step
      x-codegen-request-body-name: body
  /v1/{tenantId}/step/{stepId}:
    delete:
      description: "Remove a step from a product configurator by specifying the tenant\
        \ and step IDs. Ensure precision in configuration management with a straightforward\
        \ DELETE request, simplifying the elimination of unwanted steps."
      operationId: ProductConfigurator_DeleteStep
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: stepId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratorstepDeleteResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Delete Step
      tags:
      - step
    put:
      description: Modify an existing step within a product configurator by specifying
        the tenant and step IDs. Utilize a PUT request with updated step details in
        the body for seamless customization and fine-tuning of your product configurations.
      operationId: ProductConfigurator_UpdateStep
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: stepId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_UpdateStep_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratorstepEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Update Step
      tags:
      - step
      x-codegen-request-body-name: body
  /v1/{tenantId}/step/{stepId}/dependency/create:
    post:
      description: Establish a new dependency for an existing step by specifying the
        tenant and step IDs. Utilize a POST request with the required dependency details
        in the body to seamlessly enhance the configuration logic of your product.
      operationId: ProductConfigurator_CreateDependency
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: stepId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_CreateDependency_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratordependencyEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Create Dependency
      tags:
      - dependency
      x-codegen-request-body-name: body
  /v1/{tenantId}/step/{stepId}/option/create:
    post:
      description: Integrate a new option into an existing step by specifying the
        tenant and step IDs. Use a POST request with the required option details in
        the body for seamless customization and expansion of product configurations.
      operationId: ProductConfigurator_CreateOption
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: stepId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_CreateOption_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratoroptionEntity'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Create Option
      tags:
      - option
      x-codegen-request-body-name: body
  /v1/{tenantId}/step/{stepId}/option/create/bulk:
    post:
      description: Add multiple options to an existing step simultaneously. Submit
        a POST request with the necessary option details in the body to efficiently
        expand the configuration possibilities in bulk. Streamline large-scale option
        management effortlessly.
      operationId: ProductConfigurator_BulkCreateOptions
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: stepId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_BulkCreateOptions_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productconfiguratoroptionBulkCreateResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: Bulk Create Options
      tags:
      - option
      x-codegen-request-body-name: body
  /v1/{tenantId}/step/{stepId}/page-size/{pageSize}/options:
    post:
      description: Retrieve a list of options for a specific step based on tenant
        and step IDs. Customize results by specifying page size for efficient pagination.
        Submit an empty body to get all options associated with the step.
      operationId: ProductConfigurator_ListOptions
      parameters:
      - in: path
        name: tenantId
        required: true
        schema:
          type: string
      - in: path
        name: stepId
        required: true
        schema:
          type: string
      - in: path
        name: pageSize
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurator_ListProperties_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/optionListOptionsResponse'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request. The request contains invalid or missing parameters.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized. The request lacks valid authentication credentials.
        "429":
          content:
            application/json:
              schema:
                type: object
          description: Too Many Requests. The client has exceeded the rate limit.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error. An unexpected error occurred on the
            server.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      security:
      - APIAuthorization: []
        standardAuthorization: []
      summary: List Options
      tags:
      - option
      x-codegen-request-body-name: body
components:
  schemas:
    ConfigurationStepOption:
      example:
        grn: grn
        swatch:
          grn: grn
          url: url
        hasQuantity: true
        description:
          value:
            key: value
        id: id
        label:
          value:
            key: value
        optionProperties:
        - subtractToGetVariation:
          - subtractToGetVariation
          - subtractToGetVariation
          propertyType: PROPERTY_TYPE_UNKNOWN
          propertyValue: propertyValue
          propertyId: propertyId
        - subtractToGetVariation:
          - subtractToGetVariation
          - subtractToGetVariation
          propertyType: PROPERTY_TYPE_UNKNOWN
          propertyValue: propertyValue
          propertyId: propertyId
      properties:
        id:
          type: string
        grn:
          type: string
        label:
          $ref: '#/components/schemas/localisationLocalizedText'
        description:
          $ref: '#/components/schemas/localisationLocalizedText'
        swatch:
          $ref: '#/components/schemas/optionSwatch'
        optionProperties:
          items:
            $ref: '#/components/schemas/configurationOptionProperty'
          type: array
        hasQuantity:
          type: boolean
      type: object
    ListMatricesRequestFilter:
      properties:
        propertyType:
          items:
            $ref: '#/components/schemas/productconfiguratorPropertyType'
          type: array
        propertyKey:
          items:
            type: string
          type: array
      type: object
    configurationConfigurationStep:
      example:
        grn: grn
        options:
        - grn: grn
          swatch:
            grn: grn
            url: url
          hasQuantity: true
          description:
            value:
              key: value
          id: id
          label:
            value:
              key: value
          optionProperties:
          - subtractToGetVariation:
            - subtractToGetVariation
            - subtractToGetVariation
            propertyType: PROPERTY_TYPE_UNKNOWN
            propertyValue: propertyValue
            propertyId: propertyId
          - subtractToGetVariation:
            - subtractToGetVariation
            - subtractToGetVariation
            propertyType: PROPERTY_TYPE_UNKNOWN
            propertyValue: propertyValue
            propertyId: propertyId
        - grn: grn
          swatch:
            grn: grn
            url: url
          hasQuantity: true
          description:
            value:
              key: value
          id: id
          label:
            value:
              key: value
          optionProperties:
          - subtractToGetVariation:
            - subtractToGetVariation
            - subtractToGetVariation
            propertyType: PROPERTY_TYPE_UNKNOWN
            propertyValue: propertyValue
            propertyId: propertyId
          - subtractToGetVariation:
            - subtractToGetVariation
            - subtractToGetVariation
            propertyType: PROPERTY_TYPE_UNKNOWN
            propertyValue: propertyValue
            propertyId: propertyId
        id: id
        label:
          value:
            key: value
        hasMultipleSelection: true
      properties:
        id:
          type: string
        grn:
          type: string
        label:
          $ref: '#/components/schemas/localisationLocalizedText'
        options:
          items:
            $ref: '#/components/schemas/ConfigurationStepOption'
          type: array
        hasMultipleSelection:
          type: boolean
      type: object
    configurationConfigurator:
      example:
        grn: grn
        id: id
        steps:
        - isRequired: true
          grn: grn
          options:
          - grn: grn
            swatch:
              grn: grn
              url: url
            hasQuantity: true
            description:
              value:
                key: value
            id: id
            label:
              value:
                key: value
            position: position
            optionProperties:
            - subtractToGetVariation:
              - subtractToGetVariation
              - subtractToGetVariation
              propertyType: PROPERTY_TYPE_UNKNOWN
              propertyValue: propertyValue
              propertyId: propertyId
            - subtractToGetVariation:
              - subtractToGetVariation
              - subtractToGetVariation
              propertyType: PROPERTY_TYPE_UNKNOWN
              propertyValue: propertyValue
              propertyId: propertyId
            enabled: true
          - grn: grn
            swatch:
              grn: grn
              url: url
            hasQuantity: true
            description:
              value:
                key: value
            id: id
            label:
              value:
                key: value
            position: position
            optionProperties:
            - subtractToGetVariation:
              - subtractToGetVariation
              - subtractToGetVariation
              propertyType: PROPERTY_TYPE_UNKNOWN
              propertyValue: propertyValue
              propertyId: propertyId
            - subtractToGetVariation:
              - subtractToGetVariation
              - subtractToGetVariation
              propertyType: PROPERTY_TYPE_UNKNOWN
              propertyValue: propertyValue
              propertyId: propertyId
            enabled: true
          description:
            value:
              key: value
          id: id
          label:
            value:
              key: value
          position: position
          hasMultipleSelection: true
          subjectToStepId: subjectToStepId
          enabled: true
        - isRequired: true
          grn: grn
          options:
          - grn: grn
            swatch:
              grn: grn
              url: url
            hasQuantity: true
            description:
              value:
                key: value
            id: id
            label:
              value:
                key: value
            position: position
            optionProperties:
            - subtractToGetVariation:
              - subtractToGetVariation
              - subtractToGetVariation
              propertyType: PROPERTY_TYPE_UNKNOWN
              propertyValue: propertyValue
              propertyId: propertyId
            - subtractToGetVariation:
              - subtractToGetVariation
              - subtractToGetVariation
              propertyType: PROPERTY_TYPE_UNKNOWN
              propertyValue: propertyValue
              propertyId: propertyId
            enabled: true
          - grn: grn
            swatch:
              grn: grn
              url: url
            hasQuantity: true
            description:
              value:
                key: value
            id: id
            label:
              value:
                key: value
            position: position
            optionProperties:
            - subtractToGetVariation:
              - subtractToGetVariation
              - subtractToGetVariation
              propertyType: PROPERTY_TYPE_UNKNOWN
              propertyValue: propertyValue
              propertyId: propertyId
            - subtractToGetVariation:
              - subtractToGetVariation
              - subtractToGetVariation
              propertyType: PROPERTY_TYPE_UNKNOWN
              propertyValue: propertyValue
              propertyId: propertyId
            enabled: true
          description:
            value:
              key: value
          id: id
          label:
            value:
              key: value
          position: position
          hasMultipleSelection: true
          subjectToStepId: subjectToStepId
          enabled: true
      properties:
        id:
          type: string
        grn:
          type: string
        steps:
          items:
            $ref: '#/components/schemas/productconfiguratorconfigurationStep'
          type: array
      type: object
    configurationGetAvailableConfigurationResponse:
      example:
        configurator:
          grn: grn
          id: id
          steps:
          - isRequired: true
            grn: grn
            options:
            - grn: grn
              swatch:
                grn: grn
                url: url
              hasQuantity: true
              description:
                value:
                  key: value
              id: id
              label:
                value:
                  key: value
              position: position
              optionProperties:
              - subtractToGetVariation:
                - subtractToGetVariation
                - subtractToGetVariation
                propertyType: PROPERTY_TYPE_UNKNOWN
                propertyValue: propertyValue
                propertyId: propertyId
              - subtractToGetVariation:
                - subtractToGetVariation
                - subtractToGetVariation
                propertyType: PROPERTY_TYPE_UNKNOWN
                propertyValue: propertyValue
                propertyId: propertyId
              enabled: true
            - grn: grn
              swatch:
                grn: grn
                url: url
              hasQuantity: true
              description:
                value:
                  key: value
              id: id
              label:
                value:
                  key: value
              position: position
              optionProperties:
              - subtractToGetVariation:
                - subtractToGetVariation
                - subtractToGetVariation
                propertyType: PROPERTY_TYPE_UNKNOWN
                propertyValue: propertyValue
                propertyId: propertyId
              - subtractToGetVariation:
                - subtractToGetVariation
                - subtractToGetVariation
                propertyType: PROPERTY_TYPE_UNKNOWN
                propertyValue: propertyValue
                propertyId: propertyId
              enabled: true
            description:
              value:
                key: value
            id: id
            label:
              value:
                key: value
            position: position
            hasMultipleSelection: true
[...]
